
table.authority-delegation-existing, table.authority-delegation-new {
  width: 0%;
}

table.authority-delegation-new > tbody > tr {
  vertical-align: top;
}

table.authority-delegation-existing > tbody > tr {
  vertical-align: top;
}

table.authority-delegation-user-selectors {
  margin: 0em 0em 0em 0em;
}

table.authority-delegation-new > caption {
  font-size: x-small;
}
